

.accept-container{
}


.email-form-container{
    margin-left : auto;
    margin-right : auto;
    height : auto;
    background-color : white;
    box-shadow: 0px 0px 15px lightgray;
    border-radius: 5px;
    display: flex;
    justify-content: center !important;
    align-items: flex-start;
    padding-bottom: 50px !important;
    margin-top : 60px;
}


.email-text{
    display: flex;
    justify-content: center !important;
    letter-spacing: normal !important;
    word-spacing: 7px;
    font-size : 45px;
    margin-top : 40px;
    color : #171717
}


.form-col{
    height : auto;
    margin-top : 30px;
}


.receiv-email{
    font-size : 25px;
    word-spacing: 5px;
    letter-spacing: 0px;
    height: 45px !important;
    padding-top : 0px !important;
    padding-bottom: 0px !important;
    margin-top : 30px;
}

.success-email-alert-col{
    margin-left : auto !important;
    margin-right : auto !important;
    margin-top : 50px;
}

.success-email-alert{
    letter-spacing: normal !important;
    word-spacing: 4px !important;
    font-size : 22px;

}

.form-control:focus{
    box-shadow: 0px 0px 5px #DA0037 !important;
    border-color : #DA0037;
}


.email-input{
    font-size : 20px;
}


@media (min-width : 576px) and (max-width : 767px){
    .email-text{
        font-size : 30px;
    }

    .email-input{
        font-size : 18px;
    }

    .receiv-email{
        font-size : 20px;
    }
}



@media (max-width : 576px){
    .email-text-container{
        margin-left : auto;
        margin-right : auto;
    }

    .email-text{
        font-size : 30px;
    }

    .email-input{
        font-size : 20px;
    }

    .receiv-email{
        font-size : 22px;
    }

    .form-col{
        margin-top : 30px;
    }

}
