.user-avatar{
    border-radius: 50%;
    width : 37px !important;
    height : 37px !important;
}


body{
    background-color : red;
}
.chat-box-header{
    background-color : #e9e9e9;
    height:10%;
}


.user-username-col{
    font-size : 25px;
    letter-spacing: 0px !important;
}

.user-username-col > span{
    margin-left : 0px;
}


.user-call-button-col{
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-call-button-col>*{
    font-size : 23px;
}

.user-options-col{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.user-options-col>*{
    font-size : 29px;
    padding : 0px !important;
}

.chat-box-messages{
    height: 80%;
    background-color : white;
    overflow-y: scroll;
    overflow-x : hidden;
}

::-webkit-scrollbar{
    width : 5px;
}


::-webkit-scrollbar-track{
    background-color : #d4d4ce;
}


::-webkit-scrollbar-thumb{
    background-color : rgb(190, 190, 190);
    border-radius: 5px;
}



.chat-box-footer{
    height : 10%;
    background-color : #e9e9e9;
}

.footer-content{
    height : 100%;
    width : 100%;
}

.footer-input-col{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-embed-col{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer-embed-col>*{
    font-size : 30px
}

.footer-send-col{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer-send-col>*{
    font-size : 30px;
}



.no-message{
    display : flex;
    justify-content: center;
    align-items: center;
}


.no-message-here-yet{
    letter-spacing: 0px !important;
    font-size : 25px;
    word-spacing: 1px;
    background-color : yellow;
    padding : 0px 10px 0px 10px;
    background: #dfdfdf;
    border-radius: 10px;
}
